PORT=5000
MONGO_URI=mongodb://localhost:27017/trackflow
JWT_SECRET=change_this_to_a_random_256_bit_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
